<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->
<!-- ngModel is directive ang word -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="content" ngModel required></textarea>
    </mat-form-field>
    <hr />
    <button mat-raised-button color="accent" name="submit">
      Save Post
    </button>
  </form>
</mat-card>
<!-- <p>{{ newPost }}</p> -->
